/************ Page Header *************/
.jumbotron {
  text-align: center;
}

.container {
  width: 80%;
}

.portfolioimage img {
  border-radius: 50%;
  height: auto;
  width: 25%;
  float: right;
  margin: 10px;
  border: 4px solid #00ffcc;
}
