/************ Header *************/
.jumbotron {
  text-align: center;
}

/************ Page Content Container *************/
.container {
  width: 80%;
}

/************ Profile Image *************/
.portfolioimage img {
  border-radius: 50%;
  height: auto;
  width: 25%;
  float: right;
  margin: 10px;
  border: 4px solid white;
}

/************ Project List *************/
body.projectlist {
  text-align: justify;
}

h3, a{
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.glyphicon {
  font-size: 3em;
  color: white;
}

 .col-sm-1 {
   margin-right: 10px;
 }

.projectlist {
  background-color: #00ffcc;
  padding: 50px;
}

.projectlist h3{
  color: white;
}

.projectlist ul{
  background-color: white;
}

.projectlist p {
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.projectlist a:hover {
  font-weight: bold;
  color: #00cca3;
}
