/************ Header  with Profile Image*************/
.jumbotron {
  text-align: center;
  height: 200px;
  width: auto;
  background: transparent;
}

/************ Page Content Container *************/
.container {
  width: 80%;
}

/*basic info*/
.portfolioimage {
  margin: 20px;
  padding: 10px;
}

.portfolioimage p{
  color: green;
  padding-left: 4px;
}

.portfolioimage img {
  float: left;
  height:auto;
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  display: box;
}

/************ Project List *************/
body.projectlist {
  text-align: justify;
}

h3, a{
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.glyphicon {
  font-size: 3em;
  color: white;
}

 .col-sm-1 {
   margin-right: 10px;
 }

.projectlist {
  background-color: #00ffcc;
  padding: 50px;
}

.projectlist h3{
  color: white;
}

.projectlist ul{
  background-color: white;
}

.projectlist p {
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.projectlist a:hover {
  font-weight: bold;
  color: #00cca3;
}


/************ About Me *************/
